header{
    display: flex;
    width:100%;
    height: 70px;
    margin: none;
    background-color: #e2e0e0;
    font-family: 'Inter', sans-serif;
  }
  body{
    font-family: 'Inter', sans-serif;
    background-color:#f2f3f4;
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 200px;
  }

  #icon{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: #000;
    width:50px;
    height: 50px;
  }
  
  a{
    text-decoration: none;
    position: relative;
    margin-left:30px;
    font-weight: 700;
    line-height: 70px;
    width: 400px;
    height: 70px;
    color: #707070;
    text-align: center;
  }

  #mainLogo{
    width: 100px;
    height: fit-content;
    margin-top:-5px;
    margin-left: 40px;;
    float: left;
  }
  
  a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 5px;
      background-color: #FFD202;
      transition: width 0.3s ease;
  }
  
  a:hover::after {
      width: 100%;
  }

  a:hover{
    cursor: pointer;
  }

  
  input[type="search"] {
    margin-top: 12px;
    margin-left:50px;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
  }
  
  #leftSide{
    position: relative;
    font-size:30px;
    text-transform: uppercase;
    flex-basis: 60%;
  }
  
  #productBig:hover::after {
    width: 100%;
  }
  
  #productBig:hover {
    color: #FFD202;

  }
  
  #product{
    color:#000;
    background-color: #FFD202;
  }
  
  #messangerIcon,#lightModeIcon,#phoneIcon{
    margin-top: 10px;;
    margin-left: 2%;
    width: 45px;
    height: 45px;
  }

  #messangerIcon{
    margin-left: 530px;
  }

  #lightModeIcon{
    margin-right: 40px;
  }

  #sideNav{
    position: fixed;
    float: left;
    height: 100vh;
    width: 250px;
    background-color: #f2f3f4;
    z-index: 0;
    border-right: 3px solid #e2e0e0;
}

#navHeader{
  display: flex;
  width: 100%;
  border-bottom: 3px solid #e2e0e0;
}

#sortHeader{
  font-size: 40px;
  margin-left: 20px;
  color: #707070;
}

.custom-select {
  position: relative;
  font-family: Arial;
  margin-top: 20px;
  margin-left: 20px;
}

.custom-select select {
  display: none;
  height: 51px;
  border-radius: 20px;
}



.select-selected {
  color: #000;
  background-color: #707070;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #707070;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#dropMenu{
  color: #707070;
  margin-left: 20px;
}

#priceDiv{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

input[type="number"]{
  display: flex;
  all: unset;
  background-color: #707070;
  color: white;
  float: left;
  justify-content: space-between;
  width: 95px;
  height: 36px;
  border-right: 1px solid white;
  padding-left: 5px;
}

input[type="number"]::placeholder{
  color: white;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h2{
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 50;
}

#navSearch{
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #FFD202;
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.5s ease;
  z-index: 0;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
  line-height: 20px;
}


#navSearch::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transition: width 0.5s ease;
  z-index: -1;
}

#navSearch:hover::after {
  width: 100%;
}

#navSearch:hover {
  color: #FFD202;

}